html {
  font-size: 20px;
}

body {
  margin: 0;
  background-color: white;
  color: #333333;
  overflow-y: scroll;
  overflow-x: hidden;
}

body, .input, .highlight {
  font-family: 'Neuton', serif;
  line-height: 1.430;
}

h1, h2, h3, h4, h5, h6, .button {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.538;
}

code {
  font-size: 16px;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

ol, ul {
  padding-left: 0;
}

ul {
  list-style-type: circle;
}

.checkbox-list {
  list-style-type: none;
}

.checkbox-list input {
  margin-left: -2em;
  margin-right: 0.5em;
}

pre {
  background-color: #f7f7f7;
  font-family: monospace;
  overflow-x: auto;
}

hr {
  height: 1px;
  border-width: 0;
  background-color: #ddd;
}

/**
 * Sizes based on the x-size of helvetica-neue.
 */

pre {
  margin-top: 0.430em;
  margin-bottom: 0.430em;
  margin-left: -0.860em;
  margin-right: -0.860em;
  padding: 0.860em;
}

hr, .tripple {
  margin-top: 1.290em;
  margin-bottom: 1.290em;
}

ul, ol, .double {
  /* double */
  margin-top: 1.860em;
  margin-bottom: 1.860em;
}

p, li, .single {
  margin-top: 0.430em;
  margin-bottom: 0.430em;
}

h1 {
  font-size: 2em;
  margin-top: 0.430em;
  margin-bottom: 0.430em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.344em;
  margin-bottom: 0.344em;
}

h3 {
  font-size: 1em;
  margin-top: 0.430em;
  margin-bottom: 0.430em;
}

.center {
  text-align: center;
}

.section {
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* home */

a {
  color: #8060E5;
  text-decoration: none;
}

.cover a, .footer a {
  color: inherit;
}

a:hover, a:focus {
  text-decoration: underline;
}

.section {
  min-height: 50%;
}

.section:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.content img {
  width: 100%;
}

.section:nth-child(2n) {
  background-color: #fafafa;
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: left;
}

.content {
  width: 30em;
}


@media screen and (min-width: 45em) {
  pre.wide {
    margin-left: -4.3em;
    margin-right: -4.3em;
  }
}

.text, .report, .input, .highlight {
  padding-right: 7.5em;
  padding-left: 7.5em;
}

.text, .report {
  padding-top: 5em;
  padding-bottom: 5em;
}

.report:first-child {
  padding-bottom: 2em;
}

.report:last-child {
  padding-top: 2em;
}

.input, .highlight {
  padding-top: 2em;
}

.text {
  text-align: center;
}

.cover, .footer {
  height: 100%;
  background-color: #8060E5 !important;
  color: white;
  position: relative;
}

.cover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1em;
  border: 0.5em solid white;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.cover-inner, .footer-inner {
  -webkit-user-select: none;
  position: absolute;
  top: 50%;
  margin-top: -5.75em;
  text-align: center;
  width: 100%;
}

.author {
  font-size: 3em;
}

.title {
  font-size: 6em;
  margin: 0;
  font-family: "helvetica neue", "helvetica-neue", "helvetica", "arial", sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  border-bottom: 0.03125em solid currentcolor;
  display: inline-block;
  margin-bottom: 1em;
}

.title__inner {
  position: relative;
  padding-left: 0.025em;
  border-bottom: 0.03125em solid currentcolor;
}

.byline {
  font-size: 1.33em;
  margin: 0;
}

@media screen and (max-width: 35em) {
  .text, .report, .input, .highlight {
    padding: 2em;
  }

  .title {
    font-size: 3em
  }

  .byline {
    font-size: 1em
  }
}

.demo {
  border-bottom-width: 0 !important;
}

.input-container {
  position: relative;
  background-color: #1d1f21;
}

.input, .highlight {
  /* major iOS bugs when not set to the default font :( */
  padding: 2em;
  font-family: Helvetica, webkit-pictograph, arial, serif;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-width: 0;
  font-size: 0.9em;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;

  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-flex-direction: column;
  background-color: transparent;

  width: 38em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.input {
  resize: none;
  color: white;
  position: relative;
  z-index: 1;
  font-weight: light;
  background-color: transparent;
  transition: 100ms background-color;
}

.input:focus {
  background-color: rgba(255, 255, 255, .1);
  outline: 0;
}

.highlight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: transparent;
  overflow: hidden;
  transition: 100ms opacity;
}

.highlight .offense {
  background-color: #ce4037;
  border-radius: 0.2em;
  display: inline-block;
  left: -0.125em;
  top: 0.09375em;
  padding-right: 0.25em;
  margin-right: -0.25em;
  position: relative;
  line-height: 1.2;
}

.issue:after {
  content: ";"
}

.issue:last-child:after {
  content: "."
}

.label {
  background-color: darkgrey;
  color: white;
  padding: 0.2em 0.25em;
  border-radius: 0.2em;
  font-size: 0.7em;
}

.label-ok {
  background-color: #29a853;
}

.label-nok {
  background-color: #ce4037;
}

/*
 * Code.
 */

.code.string {
  color: #63a35c;
}

.code.key {
  color: #a71d5d;
}

.code.fn {
  color: #0086b3;
}

.code.operator {
  color: #ed6a43;
}
