html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: #fdfdfc;
}

* {
  line-height: calc(1em + 1ex);
  box-sizing: border-box;
}

.section {
  min-height: 100vh;
}

.cover,
.footer {
  position: relative;
  min-height: 100vh;
  background-color: #8060E5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-inner,
.footer-inner {
  -webkit-user-select: none;
  text-align: center;
}

.cover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1em;
  border: 0.5em solid white;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.content {
  width: 36em;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 6em;
  font-weight: 100;
  letter-spacing: 0.05em;
  border-bottom: 0.03125em solid currentcolor;
  display: inline-block;
  margin-bottom: 1em;
}

.title__inner {
  position: relative;
  padding-left: 0.025em;
  border-bottom: 0.03125em solid currentcolor;
}

.byline {
  font-size: 1.66em;
  font-weight: 100;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 35em) {
  .cover-inner {
    font-size: 0.5em;
  }

  .byline {
    font-size: 2em;
  }
}

/* Lists. */
ul,
ol {
  margin-top: 1.860em;
  margin-bottom: 1.860em;
  padding: 0;
}

ul {
  list-style-type: circle;
}

.checkbox-list {
  list-style-type: none;
}

.checkbox-list input {
  margin-left: -2em;
  margin-right: 0.5em;
}

/* Content. */
.content img {
  width: 100%;
  display: block;
}

p {
  margin-top: calc(1em + 1ex);
  margin-bottom: calc(1em + 1ex);
}

/* Code */
pre,
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: small;
}

pre {
  background-color: #f0f0f0;
  overflow: auto;
  margin: 1ex -2ex;
  padding: 2ex;
  border-radius: 3px;
}

p code,
li code {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.2em 0.4em;
}

/* Headings. */
h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  font-size: 3em;
  line-height: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.33em;
  margin: 6rem 0 1rem;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 3rem 0;
  text-align: center;
}

/* Links */

a {
  color: #8060E5;
  text-decoration: none;
  transition: color 200ms;
}

a:hover,
a:focus {
  color: initial;
}

.footer a {
  color: inherit;
  font-weight: bold;
  padding-bottom: 0.125em;
  border-bottom: 1px dotted transparent;
  transition: border-bottom-color 200ms;
}

.footer a:hover,
.footer a:focus {
  border-bottom-color: currentcolor;
}

/* Labels */
.label {
  color: white;
}

.label-ok {
  background-color: #29a853;
}

.label-nok {
  background-color: #ce4037;
}

/* Code. */
.code.string {
  color: #63a35c;
}

.code.key {
  color: #a71d5d;
}

.code.fn {
  color: #0086b3;
}

.code.operator {
  color: #ed6a43;
}

@media screen and (max-width: 35em) {
  .input,
  .highlight {
    padding: 2em;
  }
}

.input-container {
  position: relative;
  background-color: #1d1f21;
}

.input,
.highlight {
  /* major iOS bugs when not set to the default font :( */
  font-family: Helvetica, webkit-pictograph, arial, serif;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-width: 0;
  font-size: 18px;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;

  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-flex-direction: column;
  background-color: transparent;

  width: 36em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.input {
  padding: 0;
  resize: none;
  color: white;
  position: relative;
  z-index: 1;
  font-weight: light;
  background-color: transparent;
  transition: 100ms background-color;
}

.input-container {
  padding-top: 24px;
  padding-bottom: 24px;
}

.highlight {
}

.input:focus {
  background-color: rgba(255, 255, 255, .1);
  outline: 0;
}

.highlight {
  position: absolute;
  left: 0;
  right: 0;
  top: 24px;
  bottom: 24px;
  height: initial !important;
  color: transparent;
  overflow: hidden;
  transition: 100ms opacity;
}

.highlight-inner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.highlight .offense {
  background-color: #ce4037;
  border-radius: 0.2em;
  display: inline-block;
  left: -0.125em;
  top: 0.09375em;
  padding-right: 0.25em;
  margin-right: -0.25em;
  position: relative;
  line-height: 1.2;
}
