html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #fdfdfc;
}

* {
  line-height: calc(1em + 1ex);
  box-sizing: border-box;
}

.section {
  min-height: 100vh;
}

.cover,
.footer {
  position: relative;
  min-height: 100vh;
  background-color: #6f42c1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-inner,
.footer-inner {
  -webkit-user-select: none;
  text-align: center;
}

.section-jump {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 1em;
  border: 0.5em solid white;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.content {
  max-width: 36em;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 35em) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.cover .title {
  font-size: 6em;
  font-weight: 100;
  letter-spacing: 0.05em;
  border-bottom: 0.03125em solid currentcolor;
  display: inline-block;
  margin-bottom: 1em;
}

.cover .title-inner {
  text-transform: uppercase;
  position: relative;
  padding-left: 0.025em;
  border-bottom: 0.03125em solid currentcolor;
}

.cover .logo {
  width: 40%;
  margin: 0 auto 4em auto;
}

.byline {
  font-size: 1.66em;
  font-weight: 100;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 35em) {
  .cover-inner {
    font-size: 0.5em;
  }

  .byline {
    font-size: 2em;
  }
}

/* Lists. */
ul,
ol {
  margin-top: 1.86em;
  margin-bottom: 1.86em;
  padding: 0;
}

ul {
  list-style-type: circle;
}

.checkbox-list {
  list-style-type: none;
}

.checkbox-list input {
  margin-left: -2em;
  margin-right: 0.5em;
}

@media screen and (max-width: 35em) {
  .checkbox-list input {
    margin-left: -1em;
  }

  ul,
  ol {
    padding-left: 1em;
  }
}

/* Content. */
.content img {
  width: 100%;
  display: block;
}

p {
  margin-top: calc(1em + 1ex);
  margin-bottom: calc(1em + 1ex);
}

/* Code */
pre,
code {
  font-family: monospace;
}

pre {
  background-color: #f0f0f0;
  overflow: auto;
  margin: 1ex -2ex;
  padding: 2ex;
  border-radius: 3px;
}

p code,
li code {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.2em 0.4em;
}

/* Headings. */
h1,
h2,
h3 {
  font-weight: 200;
}

h1 {
  font-size: 3em;
  line-height: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.33em;
  margin: 6rem 0 1rem;
  text-align: center;
}

h3 {
  font-size: 2em;
  margin: 3rem 0;
  text-align: center;
}

/* Links */

a {
  color: #6f42c1;
  text-decoration: none;
  transition: color 200ms;
}

a:hover,
a:focus {
  color: initial;
}

.footer a {
  color: inherit;
  font-weight: bold;
  padding-bottom: 0.125em;
  border-bottom: 1px dotted transparent;
  transition: border-bottom-color 200ms;
}

.footer a:hover,
.footer a:focus {
  border-bottom-color: currentcolor;
}

/* Labels */
.label {
  color: #fdf6e3;
}

.label-ok {
  background-color: #29a853;
}

.label-nok {
  background-color: #ce4037;
}

/* Code. */
.code.string {
  color: #63a35c;
}

.code.key {
  color: #a71d5d;
}

.code.fn {
  color: #0086b3;
}

.code.operator {
  color: #ed6a43;
}

/* Windows (editors and terminals). */
.window {
  margin: 2em auto;
  border: 1px solid;
  border-radius: 3px;
  font-size: 14px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.02);
}

.window figcaption {
  display: -webkit-flex;
  display: flex;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  padding-right: 66px;
  padding-left: 12px;
}

.chrome.button {
  display: inline-block;
  border-radius: 50%;
  min-width: 12px;
  height: 12px;
  margin: 12px 6px;
  margin-left: 0;
  background-color: #ccc;
}

.chrome.title {
  -webkit-flex: 1;
  flex: 1;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Editor. */
.editor {
  border-color: #ddd;
  color: #777;
  background-color: #fdfdfc;
}

.editor figcaption {
  background: #fafafa;
  border-bottom-color: inherit;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.document {
  position: relative;
  max-width: 37em;
  margin: auto;
  overflow: hidden;
  padding-bottom: 8em;
  background-color: #073642;
}

.offense {
  border-radius: 3px;
  display: inline-block;
  margin: 0 -0.125em;
  padding: 0 0.125em;
}

.issue-summary {
  color: #eee8d5;
  margin: 0.25em 0.5em;
}

.filename {
  padding: 0.25em;
}

.counts {
  display: inline-block;
  margin: 0 0.25em;
  background-color: #073642;
  border-radius: 3px;
}

.count {
  font-weight: bold;
  padding: 0 0.25em;
  display: inline-block;
}

.count:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.count:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.offense.error,
.count.error {
  background-color: #dc322f;
}

.offense.warn,
.count.warn {
  background-color: #b58900;
}

.draw,
textarea {
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;

  /* Can’t use a nice font: kerning renders differently in textareas. */
  font-family: monospace;
  background: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: inherit;
  line-height: inherit;
}

.draw {
  min-height: 50vh;
  color: transparent;
}

textarea {
  position: absolute;
  top: 0;
  color: #fdf6e3;
}

.messages {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  color: #93a1a1;
  background-color: #002b36;
  max-height: 8em;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;

  /* See https://github.com/get-alex/alex/issues/187 */
  overflow: hidden;
}

.issues {
  margin: 0;
  padding: 0;
  max-height: 6em;
  overflow: scroll;
  border: 1px solid black;
}

.issues.empty {
  display: none;
}

.issue {
  white-space: nowrap;
  padding: 0.25em 0.5em;
  margin: 0;
  list-style: none;
}

.source {
  display: inline-block;
  width: 5em;
  text-align: right;
}

.line {
  padding: 0 0.25em;
}

/* Terminal. */
.terminal {
  border-width: 0;
  color: #93a1a1;
  background-color: #002b36;
}

.terminal figcaption {
  border-bottom-color: #073642;
  color: #657b83;
}

.terminal pre {
  padding: 7px 12px;
  margin: 0;
  line-height: 1.6;
  overflow: scroll;
  background-color: transparent;
  border-radius: 0;
}

.terminal .command::before,
.terminal .input::before {
  content: '$ ';
  font-weight: bold;
}

.terminal .input {
  font-weight: bold;
}

.terminal .nok {
  color: hsl(45, 97%, 43%);
}

.terminal .close {
  background-color: #dc322f;
}

.terminal .minimize {
  background-color: #b58900;
}

.terminal .fullscreen {
  background-color: #859900;
}

.github-corner svg {
  fill: #fff;
  color: #7a65dd;
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}
